
      <header>
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">{{name}} <span class="sr-only">(current)</span></a>
      </li>
     
    </ul>
    <form class="form-inline my-2 my-lg-0">
      {{#if status}}
     
      <button class="btn btn-light my-2 my-sm-0 text-danger" type="submit" style="text-decoration: none;"><a href="/logout">Logout</a></button>
      {{else}}
      <button class="btn btn-light my-2 my-sm-0 text-danger" type="submit" style="text-decoration: none;"><a href="/">Login</a></button>
      {{/if}}

    </form>
  </div>
</nav>
      </header>
        <section >
     
        <div class="container-fluid">
            <div class="container">
            <div class="row  mt-5">
                {{#each products}}
            <div class="col-md-3 ">
                <div class="card" style="width: 15rem; height: 25rem;">
  <img class="card-img-top" src="{{this.image}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <p class="card-text">{{this.descreption}}.</p>
    <a href="#" class="btn btn-primary">Add to favoraite</a>
  </div>
</div>
            </div>
            {{/each}}
        </div>
        </div>
        </div>
    </section>

